# Summery


The data are from [Instacart](https://www.kaggle.com/c/instacart-market-basket-analysis/data) kaggle competition lunched in 2017.  

*   The data were uploaded to the google drive. 
*   Basicly the project will run on google colab
*   The data set were too big to handle on the laptop.


## Contents

>[Summery](#scrollTo=F1U3YSYbo360)

>>[Contents](#scrollTo=F1U3YSYbo360)

>[Program](#scrollTo=qwHdTtebh__i)

>>[Importing packages](#scrollTo=qwHdTtebh__i)

>>[Connecting to the google drive](#scrollTo=7TIJPOoWibqD)

>>[Defining files directory and importing files](#scrollTo=ZqpOjRmwAXW1)

>>[Combining datasets](#scrollTo=spoEYPpcINC-)

>>[Exporting the final data into a cvs file](#scrollTo=_KZexJsTtWBo)

# Program
## Importing packages

In [0]:
# Importing required packeges
from google.colab import files
import pandas as pd
import numpy as np
import os,sys
from google.colab import drive # This package connect the google drive to the notebook.

## Connecting to the google drive
To get access to the files on google drive an authorization code it nessacery which will be given by the linked below. You need to click on the link, log in to you google account and copy and then past the authorization code into the empty box below.

In [2]:
drive.mount('/gdrive')

Mounted at /gdrive

## Defining files directory and importing files

In [3]:
#The input directory in the google dirve
input_data_path="/gdrive/My Drive/Colab Notebooks/Input_files/Original"
output_data_path="/gdrive/My Drive/Colab Notebooks/Input_files/produced"
os.listdir(input_data_path)

['sample_submission.csv',
 'products.csv',
 'orders.csv',
 'order_products__train.csv',
 'order_products__prior.csv',
 'aisles.csv',
 'departments.csv',
 'data_InstaCart_order_product.csv']

In [4]:
#the aisle of  items
aisles=pd.read_csv(os.path.join(input_data_path,'aisles.csv'))
print(aisles.head())
print(aisles.describe())
print(aisles.info())

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
aisle_id    134 non-null int64
aisle       134 non-null object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
None

In [5]:
#Department id
departments=pd.read_csv(os.path.join(input_data_path,'departments.csv'))
print(departments.head())
print(departments.describe())
print(departments.info())

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
department_id    21 non-null int64
department       21 non-null object
dtypes: int64(1), object(1)
memory usage: 416.0+ bytes
None

In [6]:
#orders : products, number of item, reorder
order_products_prior=pd.read_csv(os.path.join(input_data_path,'order_products__prior.csv'))
print(order_products_prior.head())
print(order_products_prior.describe())
print(order_products_prior.info())

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 989.8 MB
None

In [7]:
order_products_train=pd.read_csv(os.path.join(input_data_path,'order_products__train.csv'))
print(order_products_train.head())
print(order_products_train.describe())
print(order_products_train.info())

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             1384617 non-null int64
product_id           1384617 non-null int64
add_to_cart_order    1384617 non-null int64
reordered            1384617 non-null int64
dtypes: int64(4)
memory usage: 42.3 MB
None

In [8]:
#Customers order: user id, order number, hour, days between orderes
orders=pd.read_csv(os.path.join(input_data_path,'orders.csv'))
print(orders.head())
print(orders.describe())
print(orders.info())

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.214874e+06
mean        1.345202e+01            1.111484e+01
std         4.226088e+00            9.206737e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            4.000000e+00
50%         1.300000e+01            7.000000e+00
75%         1.600000e+01            1.500000e+01
max         2.300000e+01            3.000000e+01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None

In [9]:
orders.eval_set.unique()

array(['prior', 'train', 'test'], dtype=object)

In the order dataset there are 3 different gatheogries. These entries were used to determine the Train, test and prior datasets in the original Kaggle competition.

In [10]:
#products: name, aisle, department
products=pd.read_csv(os.path.join(input_data_path,'products.csv'))
print(products.head())
print(products.describe())
print(products.info())

   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
product_id       49688 non-null int64
product_name     49688 non-null object
aisle_id         49688 non-null int64
department_id    49688 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None

##Combining datasets

In [11]:
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [12]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
#Combine order_products data set together
#every order includes which products
#there is no users information yet
order_product=pd.concat([order_products_prior,order_products_train]).sort_values(by=['order_id','product_id'])
order_product.head(20)

    order_id  product_id  add_to_cart_order  reordered
2          1       10246                  3          0
1          1       11109                  2          1
5          1       13176                  6          0
7          1       22035                  8          1
4          1       43633                  5          1
6          1       47209                  7          0
0          1       49302                  1          1
3          1       49683                  4          0
7          2        1819                  8          1
2          2        9327                  3          0
5          2       17794                  6          1
1          2       28985                  2          1
4          2       30035                  5          0
0          2       33120                  1          1
6          2       40141                  7          1
8          2       43668                  9          0
3          2       45918                  4          1
15         3       17461                  7          1
13         3       17668                  5          1
11         3       17704                  3          1

In [14]:
order_product.shape

(33819106, 4)

In [15]:
products.shape

(49688, 4)

We add aisle_id and department_id for every products in the orders, but we don't need product, department or aisle names

In [16]:
order_product_info=order_product.join(products.set_index('product_id'),on='product_id').drop(columns=['product_name'])
print(order_product_info.shape)
print(order_product_info.describe())
order_product_info.head()

(33819106, 6)
           order_id    product_id  add_to_cart_order     reordered  \
count  3.381911e+07  3.381911e+07       3.381911e+07  3.381911e+07
mean   1.710566e+06  2.557551e+04       8.367738e+00  5.900617e-01
std    9.874008e+05  1.409770e+04       7.139540e+00  4.918220e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.554130e+05  1.351900e+04       3.000000e+00  0.000000e+00
50%    1.710660e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565587e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

           aisle_id  department_id
count  3.381911e+07   3.381911e+07
mean   7.121799e+01   9.918544e+00
std    3.819898e+01   6.281655e+00
min    1.000000e+00   1.000000e+00
25%    3.100000e+01   4.000000e+00
50%    8.300000e+01   9.000000e+00
75%    1.070000e+02   1.600000e+01
max    1.340000e+02   2.100000e+01

   order_id  product_id  add_to_cart_order  reordered  aisle_id  department_id
2         1       10246                  3          0        83              4
1         1       11109                  2          1       108             16
5         1       13176                  6          0        24              4
7         1       22035                  8          1        21             16
4         1       43633                  5          1        95             15

In [17]:
order_product_info=order_product_info.reset_index()
order_product_info=order_product_info.drop(columns=['index'])
order_product_info.head()

   order_id  product_id  add_to_cart_order  reordered  aisle_id  department_id
0         1       10246                  3          0        83              4
1         1       11109                  2          1       108             16
2         1       13176                  6          0        24              4
3         1       22035                  8          1        21             16
4         1       43633                  5          1        95             15

In [0]:
#to release some memory
del products,order_product,order_products_prior,order_products_train,departments,aisles

In [0]:
df=orders.join(order_product_info.set_index('order_id'),on='order_id')
#df.to_csv(os.path.join(input_data_path,'data_InstaCart.csv'), encoding='utf-8',index=False)

In [21]:
df.head(50)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,77.0,7.0
0,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,23.0,19.0
0,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,91.0,16.0
0,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,23.0,19.0
0,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,54.0,17.0
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,77.0,7.0
1,2398795,1,prior,2,3,7,15.0,10258.0,2.0,0.0,117.0,19.0
1,2398795,1,prior,2,3,7,15.0,12427.0,3.0,1.0,23.0,19.0
1,2398795,1,prior,2,3,7,15.0,13032.0,6.0,0.0,121.0,14.0
1,2398795,1,prior,2,3,7,15.0,13176.0,4.0,0.0,24.0,4.0
1,2398795,1,prior,2,3,7,15.0,26088.0,5.0,1.0,23.0,19.0
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,77.0,7.0
2,473747,1,prior,3,3,12,21.0,10258.0,3.0,1.0,117.0,19.0
2,473747,1,prior,3,3,12,21.0,12427.0,2.0,1.0,23.0,19.0
2,473747,1,prior,3,3,12,21.0,25133.0,4.0,0.0,21.0,16.0
2,473747,1,prior,3,3,12,21.0,30450.0,5.0,0.0,88.0,13.0
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,77.0,7.0
3,2254736,1,prior,4,4,7,29.0,10258.0,3.0,1.0,117.0,19.0
3,2254736,1,prior,4,4,7,29.0,12427.0,2.0,1.0,23.0,19.0
3,2254736,1,prior,4,4,7,29.0,25133.0,4.0,1.0,21.0,16.0
3,2254736,1,prior,4,4,7,29.0,26405.0,5.0,1.0,54.0,17.0
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,77.0,7.0
4,431534,1,prior,5,4,15,28.0,10258.0,3.0,1.0,117.0,19.0
4,431534,1,prior,5,4,15,28.0,10326.0,5.0,0.0,24.0,4.0
4,431534,1,prior,5,4,15,28.0,12427.0,2.0,1.0,23.0,19.0
4,431534,1,prior,5,4,15,28.0,13176.0,8.0,1.0,24.0,4.0
4,431534,1,prior,5,4,15,28.0,17122.0,6.0,0.0,24.0,4.0
4,431534,1,prior,5,4,15,28.0,25133.0,4.0,1.0,21.0,16.0
4,431534,1,prior,5,4,15,28.0,41787.0,7.0,0.0,24.0,4.0
5,3367565,1,prior,6,2,7,19.0,196.0,1.0,1.0,77.0,7.0
5,3367565,1,prior,6,2,7,19.0,10258.0,3.0,1.0,117.0,19.0
5,3367565,1,prior,6,2,7,19.0,12427.0,2.0,1.0,23.0,19.0
5,3367565,1,prior,6,2,7,19.0,25133.0,4.0,1.0,21.0,16.0
6,550135,1,prior,7,1,9,20.0,196.0,1.0,1.0,77.0,7.0
6,550135,1,prior,7,1,9,20.0,10258.0,2.0,1.0,117.0,19.0
6,550135,1,prior,7,1,9,20.0,12427.0,3.0,1.0,23.0,19.0
6,550135,1,prior,7,1,9,20.0,13032.0,5.0,1.0,121.0,14.0
6,550135,1,prior,7,1,9,20.0,25133.0,4.0,1.0,21.0,16.0
7,3108588,1,prior,8,1,14,14.0,196.0,2.0,1.0,77.0,7.0
7,3108588,1,prior,8,1,14,14.0,10258.0,3.0,1.0,117.0,19.0
7,3108588,1,prior,8,1,14,14.0,12427.0,1.0,1.0,23.0,19.0
7,3108588,1,prior,8,1,14,14.0,25133.0,4.0,1.0,21.0,16.0
7,3108588,1,prior,8,1,14,14.0,46149.0,5.0,0.0,77.0,7.0
7,3108588,1,prior,8,1,14,14.0,49235.0,6.0,0.0,53.0,16.0
8,2295261,1,prior,9,1,16,0.0,196.0,4.0,1.0,77.0,7.0
8,2295261,1,prior,9,1,16,0.0,10258.0,5.0,1.0,117.0,19.0
8,2295261,1,prior,9,1,16,0.0,12427.0,6.0,1.0,23.0,19.0
8,2295261,1,prior,9,1,16,0.0,25133.0,3.0,1.0,21.0,16.0
8,2295261,1,prior,9,1,16,0.0,46149.0,2.0,1.0,77.0,7.0
8,2295261,1,prior,9,1,16,0.0,49235.0,1.0,1.0,53.0,16.0

## Exporting the final data into a cvs file

In [0]:
df.to_csv(os.path.join(output_data_path,'data_InstaCart_copy.csv'), encoding='utf-8',index=False)